<% @recipes.each do |recipe| %>
  <h2><a href="/client/recipes/<%= recipe["id"] %>"> <%= recipe["title"] %></a></h2>

  <h3><%= recipe["chef"] %></h3>
  <h4><%= recipe["ingredients"] %></h4>
  <h4><%= recipe["directions"] %></h4>
  <br>
  <% end %>