<!DOCTYPE html>
<html>
  <head>
    <title>CookbookClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Cookbook App</h1>
    <a href="/client/recipes">Home</a>
    <a href="/client/recipes/new">Create New Recipe</a>

    <%= yield %>
  </body>
</html>
